<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="ccleaner" />
	<package id="7zip" />
	<package id="notepadplusplus" />
	<package id="adobereader" />
	
	<package id="GoogleChrome" />
	<package id="Firefox" />

	<package id="grepwin" />
	
	<package id="greenshot" />
	
	<package id="f.lux" />

	<package id="Tunnelier" />
  
	<package id="picasa" />
	<package id="googledrive" />
	
	<package id="libreoffice" />
	
	<package id="AdobeAIR" />
	
	<package id="paint.net" />
	<package id="thunderbird" />
	
	<package id="qbittorrent" />
	
	<package id="picasa" />
	
	<!-- Developer Tools -->
	<package id="papercut" />
	<package id="baretail" />
	
	<package id="virtualbox" />
	<package id="vagrant" />
  
	<!---
	<package id="anotherPackage" version="1.1" />
	<package id="chocolateytestpackage" version="0.1" source="somelocation" />
	
	<package id="jenkins" />
	<package id="rabbitmq" />
	<package id="nginx" />
	<package id="sqlite" />
	<package id="redis" />
	<package id="mongodb" />
	<package id="mongovue" />
	<package id="mysql" />
	<package id="postgresql" />
	-->
</packages>