<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- Everyday Tools -->
	<package id="ccleaner" />
	<package id="7zip" />
	<package id="notepadplusplus" />
	<package id="adobereader" />	
	<package id="grepwin" />
	<package id="paint.net" />
	<package id="f.lux" />
	
	<!-- Web Browsers -->
	<package id="GoogleChrome" />
	<package id="Firefox" />

	<!-- <package id="Tunnelier" /> -->
  
	<package id="picasa" />
	<package id="googledrive" />
	
	<package id="libreoffice" />
	
	<package id="AdobeAIR" />	
	
	<package id="thunderbird" />
	
	<package id="qbittorrent" />
	
	<!-- Developer Tools -->
	<package id="greenshot" />
	<package id="papercut" />
	<package id="baretail" />	
	<package id="vagrant" />
  
	<!---
	<package id="anotherPackage" version="1.1" />
	<package id="chocolateytestpackage" version="0.1" source="somelocation" />
	
	<package id="virtualbox" />
	<package id="jenkins" />
	<package id="rabbitmq" />
	<package id="nginx" />
	<package id="sqlite" />
	<package id="redis" />
	<package id="mongodb" />
	<package id="mongovue" />
	<package id="mysql" />
	<package id="postgresql" />
	
	<package id="java.jdk" />
	<package id="maven" />
	<package id="Grails" />
	<package id="Scala" />
	<package id="Groovy" />
	<package id="jruby" />
	<package id="android-sdk" />
	<package id="AndroidStudio" />
	-->
</packages>