## This configuration file uses BoxStarter to configure the system
## and Chocolatey to install necessary packages

## System Configuration
Set-ExplorerOptions -showHidenFilesFoldersDrives -showFileExtensions

Update-ExecutionPolicy
Disable-InternetExplorerESC
Enable-RemoteDesktop
Enable-MicrosoftUpdate

## This may not be desired, it will run all Windows Updates available
Install-WindowsUpdate

## .NET Frameworks -- Some should already be installed
cinst DotNet3.5
cinst DotNet4.0
cinst DotNet4.5
cinst DotNet4.5.1

## Common System Tools
cinst ccleaner
cinst 7zip
cinst notepadplusplus
cinst adobereader
cinst f.lux

## Web Browsers
cinst GoogleChrome
cinst Firefox

## Office Tools
cinst libreoffice
cinst thunderbird

## Media Tools
cinst AdobeAIR
cinst qbittorrent
cinst paint.net

## Developer Tools
cinst grepwin
cinst greenshot
cinst papercut
cinst baretail
cinst vagrant

## cinst freeSSHD